/*»»»»»»...CSS-RESET...««««««*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,h2,h4,p {
    margin: 0
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:  #999797
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5; 
}
/*-------------------------------*/
:root{
    --background-js: #f7e018;
    --color-js: #141414;
    --color-add-bttn:  #6bdc52;
    --color-error-bttn: red;
    --color-main-elements: #f5f5f5;
    --color-second-elements: #eae8e8;
    --color-border-grey: #999797;
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif
}
/*---------general---------------*/
ul,
.main-container, 
.container-left,
.input-container,
.input-n-bttn,
.btn-todo,
.item,
.item-top,
.item-bottom,
.title,
.title-language{
    display: flex
}

/*--------Commons----------------*/
.title-language--italic,
.title-lang-frame,
.container-right{
    font-family: var(--font-open-sans);
}

.main-container{
    width: 100%;
}

.container-right{
    width: 80%;
    height: 100vh;
    flex-direction: column;
    padding-left: 1rem;
}

.btn-click-fx:active,
.github-link:active { 
    transform: translateY(2px) 
}

.github-link-container{
    margin-top: 1rem;
    width: 160px;
    color: #b4b3b3;
    font-size: small;
} 
.github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #cccbcb;
    border-radius: 15px
}

.github-link:hover {
    cursor: pointer;
    color: #d4ebe7;
    background: #b4b3b3
}

/*---------left-CONTAINER------------------*/
/*-----------------------------------------*/
ul { flex-direction: column; }

li{
    cursor: pointer;
    padding: 0 1rem .5rem 0
}
.container-left{
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    min-width: 150px;
    background: var(--background-js); 
    color:var(--color-js)
}

.title{
    flex-direction: column;
    height: 128px;
    border: 2px solid var(--color-main-elements);   
}

.title-language { justify-content: flex-end; }

.title-language--italic{
    font-size: 1.5rem;
    padding-right: .2rem;
    font-style: italic;
}
.title-language--black{
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--font-roboto);
}
.title-lang-frame{
    font-size: 2rem;
    border: 2px solid var(--color-main-elements);
    background: var(--color-main-elements);
    padding: .5rem;

}
.title, .input-container{ 
    margin-top: 2rem 
}


/*--------------------------------*/
/*---------TODO APP---------------*/

.input-container{
    width: 45%;
    min-width: 20rem;
    padding-bottom: 1rem;
    flex-direction: column;
    border-bottom: 1px dashed var(--color-border-grey)
}

.input__description{
    width: 300px;
    height: 25px;
    border: 1px solid;
    border-radius: 3px;
    margin-right: 1rem;
}

.btn-todo{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.5rem;   
}

.input__bttn{
    border-radius: 3px;
    border: 1px solid var(--color-add-bttn);
}

.item__delete{
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--color-error-bttn)
}

.ion-icon-close{
    color: var(--color-error-bttn);
    transition: .2s
}

.ion-icon-close:hover{
    color: white;
    transform: rotate(180deg)
}

.ion-icon-add{
    color: var(--color-add-bttn);
}

.input__bttn:hover, 
.ion-icon-add:hover{
    background: var(--color-add-bttn);
    border: none;
    border-radius: 3px;
    color: white
}

.item__delete:hover{
    background: var(--color-error-bttn);
    border: none;
    border-radius: 3px;   
}

.container {
    min-width: 300px;
    width: 45%    
}

.item{
    flex-direction: column;
    border-radius: 4px;
    margin: 1rem 0;
    background: var(--color-main-elements)
    
}
.task__date{
    font-style: italic;
}

.id,
.task__date{
    color: var(--color-border-grey)
}

.item-top{
    justify-content: space-between;
    padding: 0 .5rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: var(--color-second-elements)
}

.item-bottom{
    padding: .5rem;
    justify-content: space-between;
    font-size: 1.2rem; 
}

ion-icon{
    font-size: 1.5rem;
}



/*---------CALENDAR APP-----------*/
/*--------------------------------*/

/* .group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .calendar__top-p-element{
      margin-bottom: 1rem;
      color: #000000a4;
      font-weight: 600;
  }
  .calendar {
    background: #fcfcfc;
    border-radius: 5px;
    width: 80%;
    min-width: 350px;
    max-width: 450px;
    padding: .5em 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
   }
  .calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase; 
  }
  .calendar__prev, .calendar__next {
    color: #444;
    cursor: pointer; 
  }
  .calendar__prev {
    margin-right: auto; 
  }
  .calendar__next {
    margin-left: auto; 
  }

  .calendar__nav-btn{
      font-size: 1.8rem;
  }
  .calendar__nav-btn:hover{
      color: #676868
  }

  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px; 
  }
  .calendar__month, .calendar__year {
    padding: .5em 1em; 
  }
  .calendar__item {
    text-align: center;
    line-height: 2; 
  }
  .calendar__last-days {
    opacity: .3; 
    pointer-events: none
  }
  .calendar__following-days {
    cursor: pointer;
    border-radius: 5px;
    background: #d4ebe7;
  }
  .calendar__following-days:hover{
  background: #50e3c3
  }
  
  .search-container{
    width: 100%;
    margin: 1em auto
  }
  
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 350px;
    max-width: 450px;
    height: 3rem;
    background: #000000a4;
    border-radius: 5px
  }
  
  .search-box{
    height: 1.5rem;
    width: 20%;
    margin: .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer
  }
  .booking-btn{
    border: none;
    width: 20%;
    height: 1.5rem;
    border-radius: 5px;
    background: #50e3c3
  }
  
  .active{
    background: #50e3c3
  }

  .distance{
      background: #94fde6
  }


  @media(max-width: 1024px){
    ul{
        flex-direction: row;
    }
    .title{
        justify-content: center;
        margin: 2rem
    }
    .main-container{
        flex-wrap: wrap;
    }
    .container-left{
        position: relative;
        height: 100%;
        width: 100%
    }
    .container-right{
        width: 100%;
        align-items: center
    }

}