/*»»»»»»...CSS-RESET...««««««*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,h2,h3,h4,p, li{
    margin: 0
}

li, ul{
    list-style: none;
    padding: 0
}

a{
    text-decoration: none;
    color:  #999797
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5; 
}

svg {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}
/*-------------------------------*/
:root{
    --background-js: #f5df4d; 
    --color-js: #141414;
    --color-add-bttn:  #6bdc52;
    --color-error-bttn: red;
    --color-main-elements: #f5f5f5;
    --color-second-elements: #eae8e8;
    --color-ultimate-grey:  #939597;
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif
}
/*---------general---------------*/
.nav-ul,
.main-container, 
.container-left-large,
.input-container,
.input-n-bttn,
.btn-todo,
.item,
.item-top,
.item-bottom,
.title,
.title-language{
    display: flex
}

/*--------Commons----------------*/
.title-language--italic,
.title-lang-frame,
.container-right{
    font-family: var(--font-open-sans);
}

.main-container{
    width: 100%;
}

.container-right{
    width: 80%;
    height: 100vh;
    flex-direction: column;
    padding-left: 1rem;
}

.btn-click-fx:active,
.github-link:active { 
    transform: translateY(2px) 
}

.github-link-container{
    margin-top: 1rem;
    width: 160px;
    color: #b4b3b3;
    font-size: small;
} 
.github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #cccbcb;
    border-radius: 15px
}

.github-link:hover {
    cursor: pointer;
    color: #d4ebe7;
    background: #b4b3b3
}

/*---------left-CONTAINER------------------*/
/*-----------------------------------------*/
.container-left-small{display: none}
.nav-ul { 
    flex-direction: column; 
    font-family: var(--font-open-sans);
}

.nav-ul-li{
    cursor: pointer;
    text-align: center;
    padding: .5rem .2rem;
    margin: 1rem 0 0 0;
    color: var(--color-ultimate-grey);

    border-radius: 41px;
    background: #f5f5f5;
    box-shadow:  6px 6px 17px #dfdfdf, 
                -6px -6px 17px #ffffff;  
}
.nav-ul-li:hover{
    box-shadow:  6px 6px 17px #cccccc, 
                -6px -6px 17px #ffffff;
}
.nav-ul-li:active{
    box-shadow: inset  -5px -5px 0px #fcfcfc,
                inset 5px 5px 0px #eeeeee
}

.container-left-large{
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    min-width: 150px;
    background: var(--color-main-elements);   
}

.title{
    flex-direction: column; 
    border: 2px solid var(--color-ultimate-grey);   
}

.title__lang{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%
}

.title__lang-type {
    display: inline-block;
    height: 50px;
    padding-right: .5rem;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--font-roboto);
    color: var(--color-ultimate-grey)
}

.title__lang-desc{
    height: 50%;
    font-size: 2rem;
    border: 2px solid var(--color-ultimate-grey);
    background: var(--color-ultimate-grey); 
    font-family: var(--font-open-sans); 
    padding: .5rem;
    color: var(--color-main-elements)
}

.title, .input-container{ 
    margin-top: 2rem 
}

/*--------------------------------*/
/*---------TODO APP---------------*/

.input-container{
    width: 45%;
    min-width: 20rem;
    padding-bottom: 1rem;
    flex-direction: column;
    border-bottom: 1px dashed var(--color-ultimate-grey)
}

.input__description{
    width: 300px;
    height: 25px;
    border: 1px solid;
    border-radius: 3px;
    margin-right: 1rem;
}

.btn-todo{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.5rem;   
}

.input__bttn{
    border-radius: 3px;
    border: 1px solid var(--color-add-bttn);
}

.item__delete{
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--color-error-bttn)
}

.ion-icon-close{
    color: var(--color-error-bttn);
    transition: .2s
}

.ion-icon-close:hover{
    color: white;
    transform: rotate(180deg)
}

.ion-icon-add{
    color: var(--color-add-bttn);
}

.input__bttn:hover, 
.ion-icon-add:hover{
    background: var(--color-add-bttn);
    border: none;
    border-radius: 3px;
    color: white
}

.item__delete:hover{
    background: var(--color-error-bttn);
    border: none;
    border-radius: 3px;   
}

.container {
    min-width: 300px;
    width: 45%    
}

.item{
    flex-direction: column;
    border-radius: 4px;
    margin: 1rem 0;
    background: var(--color-main-elements)
    
}
.task__date{
    font-style: italic;
}

.id,
.task__date{
    color: var(--color-ultimate-grey)
}

.item-top{
    justify-content: space-between;
    padding: 0 .5rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: var(--color-second-elements)
}

.item-bottom{
    padding: .5rem;
    justify-content: space-between;
    font-size: 1.2rem; 
}

ion-icon{
    font-size: 1.5rem;
}


/*------REGISTER-LOGIN-APP-----*/
/*-----------------------------*/

.app-reglog{
    font-family: Arial, Helvetica, sans-serif;
}


.init-choose,
.ctnr-register,
.ctnr-login,
.ctnr-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-top: 8px solid #50e3c3;
    border-radius: 4px;
    width: 60%;
    min-width: 300px;
    max-width: 400px;
    padding: .5em 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    background: #f5f5f5
}



.ctnr-reglog-ppic{
    position: relative;
    width: 100%;
    height: 10rem;
}

.reglog-shape{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-image: url(./resources/shape2.png);
    background-position: center;
}

.reglog-ppic{
    width: 100%;
    height: 10rem;
    background-image: url(./resources/shape.png);
}

.reglog-avatar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    top: 1.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-main-elements);
    background-color: var(--color-ultimate-grey );
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
}

.reglog-greeting{
    text-align: center;
}

.ctnr-user > ul{
    width: 90%;
    padding: 2rem 3rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #cccccc56;
    border-radius: 5px

}

.init-choose > div {
    padding: 1rem
}

.reglog-form{
    display: flex;
    flex-direction: column;
    width: 80%
}

.reglog-input{
    outline: none;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #868585;
    background:  #eeecec;
    height: 1.5rem;
}
.reglog-input:hover{
    background:  #e2e2e2
}

.reglog-input:focus{
    border: 1px solid #50e3c3
}

.reglog-input-error{
    border: 1px solid red
}

.reglog-label{
    margin-top: 1.2rem
}

.ctnr-reglog-btn{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1rem 0
}
.reglog-btn {
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 4px -3px rgba(0,0,0,0.43);
    -moz-box-shadow: 3px 3px 4px -3px rgba(0,0,0,0.43);
    box-shadow: 3px 3px 4px -3px rgba(0,0,0,0.43);
    outline: none  
}
.register-btn{background: #ebe9e9;}
.register-btn:hover{background: #dbdada}
.register-btn:active{background:  #cccccc}

.login-btn{
    background: #50e3c3;
    color: white;
}
.login-btn--margin{margin-bottom: 1rem}
.login-btn:hover{background: #4dd4b5}
.login-btn:active{background: #3fb398}

.error{
    color: red;
    padding: 1rem
}

.go-back{
    width: 100%;
    display: flex;
    justify-content: flex-start;  
}

.back{
    padding: 0 .5rem;
    cursor: pointer;
    background: #f5f5f5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 

    background: linear-gradient(to left, #f5f5f5 50%,  #dbdada 50%) right;
    background-size: 200%;
    transition: .1s ease-out;
}
.back:hover{background-position: left}

.back-icon{
    display: flex;
    align-items: center;
    transition: .1s;
}
.back-icon:hover{transform: translateX(-3px);}
.back-icon:active{font-weight: bold;}

.reglog-btn:active{
    transform: translateY(2px);
}

.reglog-anchor{
    color: #3fb398;
    cursor: pointer
}
/*--------------------------------*/

/*------------CARD APP------------*/
/*--------------------------------*/
.ctnr-card{
   background-color: transparent;
   width: 20.55rem;
   height: 13.22rem;
   perspective: 62.5rem 
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    border-radius: 1rem;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.ctnr-card:hover .card{
    transform: rotateY(180deg)
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front{
    background-color: var(--color-main-elements);
    background-image: url(./resources/card-shape-front.png);
}

.card-back{
    background-color: var(--color-ultimate-grey);
    transform: rotateY(180deg)
}

/*--------------------------------*/


/*---------CALENDAR APP-----------*/
/*--------------------------------*/

/* .group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
.calendar__top-p-element{
    margin-bottom: 1rem;
    color: #000000a4;
    font-weight: 600;
}

.calendar-none{
    display: none
}

.calendar,
.cal-res {
  background: #fcfcfc;
  border-radius: 5px;
  width: 80%;
  min-width: 350px;
  max-width: 450px;
  height: 260px;
  padding: .5em 0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.27);
 }

.calendar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
  font-size: 1.2em;
  text-transform: uppercase; 
}
.calendar__prev, .calendar__next {
  color: #444;
  cursor: pointer; 
}
.calendar__prev {
  margin-right: auto; 
}
.calendar__next {
  margin-left: auto; 
}
.calendar__nav-btn{
    font-size: 1.8rem;
}
.calendar__nav-btn:hover{
    color: #676868
}

#dates{
    width: 100%;
    border-collapse: collapse;
}

td{
    text-align: center;
    cursor: pointer;
}
.calendar__month, .calendar__year {
  padding: .5em 1em; 
}
.ui-calendar__date--disabled {
  color: #c2c2c2; 
  pointer-events: none
}
.ui-calendar__date--today{
    color: #03a37d 
}
.ui-calendar__date--today,
.ui-calendar__date{
  cursor: pointer;
}

.ui-calendar__date--today:hover,
.ui-calendar__date:hover{
    background: #e7e5e5
}

.ui-calendar__date--selected{
    background: #50e3c3
}

.ui-calendar__date--in-range{
    background: #c2c2c2
}

.search-container{
    margin: .5rem 0
}

.calendar-shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
    border-radius: 5px;
    
    background-image: url(./resources/calendar-shape.png);

}

.sb{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  min-width: 350px;
  max-width: 450px;
  height: 3rem;
  background: var(--color-ultimate-grey);
  border-radius: 5px
}

.sb-container{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.sb-sub-container{
    width: 50%;
    color: white
}
.sb-label{
    font-size: small;
    color: #50e3c3
}
.sb-select{
    height: 1.5rem;
    width: 2rem;
    border: none;
    border-radius: 4px;
}
.booking-btn{
  border: none;
  width: 20%;
  height: 1.5rem;
  border-radius: 5px;
  background: #50e3c3;
  cursor: pointer;
}
/*-Result-Container-*/

.cal-res{
    margin-top: 1rem;
    background: var(--color-main-elements);
    padding-left: 1rem
}
.cal-res-ul__li{
    padding: .2rem 0;
    display: flex;
    align-items: center;
}

.cal-res-ul__li > ion-icon {
    font-size: 1rem;
    padding-right: .2rem;
    color: #369782
}

.abrev{
    font-size: small;
}

.cal-data{
    padding-left: .5rem;

}

/*---------MEDIA-QUERIES----------*/
/*--------------------------------*/

  @media (max-width: 1024px){
    .nav-ul{
        flex-direction: row;
    }
    .nav-ul-li{
        margin: 0 .4rem
    }
    .title{
        justify-content: center;
        margin: 2rem
    }
    .main-container{
        flex-wrap: wrap;
    }
    .container-left-large{
        position: relative;
        height: 100%;
        width: 100%
    }
    .container-right{
        width: 100%;
        align-items: center
    }

}

/*----Mobile-----*/
@media (max-width: 481px){
    .container-left-large{
        display: none
    }
    .container-left-small{
        width: 100%;
        display: flex;
        flex-direction: column;   
    }
    .container-left-small-top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
   
    .nav-ul-closed{ display: none}

    .nav-ul-open{
        display: flex;
        flex-direction: column;
        font-family: var(--font-open-sans)
    }

    .menu{
        margin: 0 1rem
    }
    .menu-icon{
        cursor: pointer;
        font-size: 3.5rem;
        color: var(--color-ultimate-grey)
    }

    .title{flex-direction: row}
    
    .title__lang {
        justify-content: center;
        align-items: center;
        padding-right: .3rem
    }
    .title__lang-type {
        padding: .3rem;
        font-size: 2rem;
    }
    
    .title__lang-desc{
        padding: 0;
    }
    .ice-cream{
        font-size: 1.8rem
    }
        
    .nav-ul-li{
        margin: .1rem;
        border-radius: 0;
        background-color: #f5f5f5;
        background-position: center;
        transition: background .4s;
        box-shadow: none;
        
    }
    .nav-ul-li:hover{
        background:  #e7e5e5 radial-gradient(circle, transparent 1%, #e7e5e5 1%) center/15000%;
        box-shadow: none
   }
   
   .nav-ul-li:active{
        background-color: #cccccc;
        background-size: 100%;
        transition: background 0s;
        box-shadow: none
   }
    

}
  